<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rocket testing site</title>
</head>

<body>
    <h1>This will be a banner</h1>
    <p>Here the threads will go</p>
    {{#each this}}
    title: {{this.title}}
    <br>
    name: {{this.name}}
    <br>
    body: {{this.body}}
    {{/each}}
    <p>Some comments here that belong to above post</p>
    title:
    <br>
    body:
    <br>
    <p>Here I will make a footer</p>
</body>

</html>